body {background-color:lightyellow}

h1 {text-align: center; background-color: sandybrown; 
   color:tomato; font-family: Algerian;
   font-weight: 10; font-style: bold; 
   font-size: xx-large; word-spacing: 0.01em}

h2 {text-align: center; background-color: tomato; 
   color:lavender; font-family: Algerian;
   font-weight: 10; font-style: bold; 
   font-size: x-large; word-spacing: 0.01em}

h3 {text-align: center; background-color: tan; 
   color:blue; font-family: Bookman Old Style;
   font-weight: 10; font-size: x-large; word-spacing: 0.1em}

.Description1 {text-align:center;font-size:16px;
            background-color: mistyrose; color:darkblue;
            font-family: Verdana;font-style:bold
			display: block;
			width: 95%;
			margin: 50px 0 0 0;
			padding: 10px;
			text-align: justify;
			border: 5px solid red;
			background: #ddd;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			-moz-box-shadow: rgb(120,120,120) 5px 5px 10px;
			-webkit-box-shadow: rgb(120,120,120) 5px 5px 10px;
			box-shadow: rgb(120,120,120) 5px 5px 10px;
			background: -webkit-linear-gradient(top, #FFB6C1, #2E8B57);
			background: -moz-linear-gradient(top, #FFB6C1, #2E8B57);
			background: linear-gradient(top, #FFB6C1, #2E8B57);}

.Description2 {text-align:center;font-size:18px;
            background-color: red; color:yellow;
            font-family: Cambria;font-style:bold}

.Description3 {text-align:center;font-size:18px;
            background-color: aliceblue; color:mediumpurple;
            font-family: Cambria;font-style:bold}

.Description4 {text-align:center;font-size:18px;
            background-color: #FFA07A; color:#800000;
            font-family: Times New Roman;font-size: x-large;font-style:bold}

.Description5 {text-align:left;font-size:18px;
            background-color: hotpink; color:red;
            font-family: Times New Roman;font-size: x-large;font-style:bold}

.Description6 {text-align:right;font-size:18px;
            background-color: orange; color:black;
            font-family: Times New Roman;font-size: x-large;font-style:bold}

.DescriptionContact1 {text-align:left;font-size:20px;
            background-color: orange; color:blue;
            font-family: Times New Roman;font-size: x-large
			display: block;
			width: 95%;
			margin: 50px 0 0 0;
			padding: 10px;
			text-align: justify;
			border: 5px solid red;
			background: blue;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			-moz-box-shadow: rgb(120,120,120) 5px 5px 10px;
			-webkit-box-shadow: rgb(120,120,120) 5px 5px 10px;
			box-shadow: rgb(120,120,120) 5px 5px 10px;
			background: -webkit-linear-gradient(top, #FFB6C1, #2E8B57);
			background: -moz-linear-gradient(top, #FFB6C1, #2E8B57);
			background: linear-gradient(top, #FFB6C1, #2E8B57);}

.DescriptionContact2 {text-align:right; font-size:15px;
            background-color: cadetblue; color:blue;
            font-family: Times New Roman;
			display: block;
			width: 95%;
			margin: 50px 0 0 0;
			padding: 10px;
			text-align: justify;
			border: 5px solid red;
			background: blue;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			-moz-box-shadow: rgb(120,120,120) 5px 5px 10px;
			-webkit-box-shadow: rgb(120,120,120) 5px 5px 10px;
			box-shadow: rgb(120,120,120) 5px 5px 10px;
			background: -webkit-linear-gradient(top, #FFB6C1, #2E8B57);
			background: -moz-linear-gradient(top, #FFB6C1, #2E8B57);
			background: linear-gradient(top, #FFB6C1, #2E8B57);	}

.NewFood {text-align:justify;font-size:16px;background-color: #D2B48C;
	             color:darkblue;font-family: Verdana;font-style:bold}

.FAQ {text-align:justify;font-size:10px;
            background-color: #F0E68C; color:forestgreen;
            font-family: Times New Roman;font-size: large}

.support1 {background-color: #F0E68C; 
	   color:#6B8E23; font-family: 'Bookman Old Style', Arial, Verdana; 
           font-weight: 1000pt; font-size: 14pt; font-style: oblique}

.HeaderFooter {text-align: center;
               color:lavender; font-family: Algerian;
               font-weight: 10; font-style: bold; 
               font-size: x-large; word-spacing:0.01em}

a:link {
	font-size: large;
	background-color: black;
	text-decoration: underline;
	color: white;
	font-family: Baskerville Old Face;
	font-style: bold;
}

a:visited {
	background-color: black;
	text-decoration: underline;
	color: white;
	font-family: Baskerville Old Face;
	font-style: bold;
	font-size: large;
}


a:hover {
	background-color: darkkhaki;
	text-decoration: underline;
	color: red;
	font-family: Bookman Old Style;
	font-style: bold;
	font-size: large;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.myTable { background-color:#eee;border-collapse:collapse; }
.myTable th { background-color:#000;color:white; }
.myTable td, .myTable th { padding:5px;border:1px solid #000; }

.flex-container {
    
			display: -webkit-flex;
    
			display: flex;
    
			width: 100%;
    
			height:1000px;
    
			background-color: #DC143C;
    
			flex-direction: column;
    
			text-align:justify;
			align-items: center;
    
			align-content:stretch;
    
			justify-content: space-around;

			font-family: Bookman Old Style;
			color:#B22222;
		}


.flex-item1 	{
    
			background-color: #FFDEAD;
    
			width: 850px;
    
			height:50px;
    
			margin:10px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-item2 	{
    
			background-color: #FFDEAD;
    
			width: 850px;
    
			height:520px;
    
			margin:20px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-item3 	{
    
			background-color: #A9A9A9;
    
			width: 850px;
    
			height:300px;
    
			margin:20px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

#BigBox 	{
  		display: -webkit-box;
  		display: -moz-box;
  		display: -ms-flexbox;
  		display: -moz-flex;
  		display: -webkit-flex;
  		display: flex;
 		-moz-flex-direction: column;
  		-webkit-flex-direction: column;
  		flex-direction: column;
  		align-items: center;
  		justify-content: space-around;
  		align-content: stretch;
  		flex-wrap: wrap;
  		border: 5px solid #9400D3;
  		font-family: Bookman Old Style;
		color:#B22222;
  		width:80%;
		height:800px;
		background-color: #DC143C;
		text-align:justify;
		}

#flexbox-1	{
  		-moz-flex: 1;
  		-webkit-flex: 1;
  		flex: 1; 
  		background:#FFA07A;
  		margin: 10px;
  		width: 90%;
  		height:80px;
  		text-align:center
	}

#flexbox-2	{
  		-moz-flex: 1;
  		-webkit-flex: 1;
  		flex: 1; 
  		background:#FFA07A;
  		margin: 10px;
  		width: 90%;
  		height: 1050px;
	}

#flexbox-3	{
  		-moz-flex: 1;
  		-webkit-flex: 1;
  		flex: 1; 
  		background:#FFA07A;
  		margin: 10px;
  		width: 500px;
  		height: 80px;
  		text-align:center
	}

#flexbox-4	{
  		-moz-flex: 1;
  		-webkit-flex: 1;
  		flex: 1; 
  		background:#FFA07A;
  		margin: 10px;
  		width: 90%;
  		height: 350px;
	}
   
.article1 p:first-of-type::first-letter {
      						color:blue;
      						font-size: 2em;
      						margin: -.25em .05em 0 0; 
					}

article p	{
      			color:#B22222;
      			font-size: 1em;
      			line-height: 1.5;
      			margin: .875em 2em;
		}

article p:first-of-type::first-line	{
      						color: #F0E68C;
      						font-size: 1.25em;
					}

p:nth-child(2)	{
    			background: #6B8E23;
		}

li	{ 
		font-size: 1em;
     		margin: .25em; 
	}

li:first-child 	{ 
			color: #FF00FF; 
		}

li:nth-of-type(3)	{ 
				color: green; 
				font-weight:bold 
			}
	
li:last-of-type	{ 
			border-bottom: 4px  solid #00FF00; 
		}

li:last-child	{ 
			font-size:2.0em; 
			color: #6A5ACD;
		}

.flex-HeaderFooter {
    
			display: -webkit-flex;
    
			display: flex;
    
			width: 100%;
    
			height:80px;
    
			background-color: #DC143C;
    
			flex-direction: column;
    
			text-align:justify;
			align-items: center;
    
			align-content:stretch;
    
			justify-content: space-around;

			font-family: Bookman Old Style;
			color:#B22222;
		}

.flex-HF1 	{
    
			background-color: #DC143C;
    
			width: 850px;
    
			height:50px;
    
			margin:10px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-containerAbout {
    
			display: -webkit-flex;
    
			display: flex;
    
			width: 100%;
    
			height:500px;
    
			background-color: #DC143C;
    
			flex-direction: column;
    
			text-align:justify;
			align-items: center;
    
			align-content:stretch;
    
			justify-content: space-around;

			font-family: Bookman Old Style;
			color:#B22222;
		}


.flex-itemAbout1 	{
    
			background-color: #FFDEAD;
    
			width: 95%;
    
			height:100px;
    
			margin:10px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-itemAbout2 	{
    
			background-color: #FFDEAD;
    
			width: 95%;
    
			height:100px;
    
			margin:20px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-itemContact 	{
    
			background-color: #DC143C;
    
			width: 95%;
    
			height:100px;
    
			margin:10px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-containerSupport {
    
			display: -webkit-flex;
    
			display: flex;
    
			width: 100%;
    
			height:600px;
    
			background-color: #DC143C;
    
			flex-direction: column;
    
			text-align:justify;
			align-items: center;
    
			align-content:stretch;
    
			justify-content: space-around;

			font-family: Bookman Old Style;
			color:#B22222;
		}

.flex-itemSupport 	{
    
			background-color: #DC143C;
    
			width: 95%;
    
			height:100px;
    
			margin:10px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-containerFAQ {
    
			display: -webkit-flex;
    
			display: flex;
    
			width: 100%;
    
			height:1100px;
    
			background-color: #DC143C;
    
			flex-direction: column;
    
			text-align:justify;
			align-items: center;
    
			align-content:stretch;
    
			justify-content: space-around;

			font-family: Bookman Old Style;
			color:#B22222;
		}

.flex-itemFAQ 	{
    
			background-color: #DC143C;
    
			width: 95%;
    
			height:100px;
    
			margin:10px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-containerProducts {
    
			display: -webkit-flex;
    
			display: flex;
    
			width: 100%;
    
			height:1100px;
    
			background-color: #DC143C;
    
			flex-direction: column;
    
			text-align:justify;
			align-items: center;
    
			align-content:stretch;
    
			justify-content: space-around;

			font-family: Bookman Old Style;
			color:#B22222;
		}

.flex-itemProducts 	{
    
			background-color: #DC143C;
    
			width: 95%;
    
			height:100px;
    
			margin:10px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-containerOrder {
    
			display: -webkit-flex;
    
			display: flex;
    
			width: 100%;
    
			height:800px;
    
			background-color: #DC143C;
    
			flex-direction: column;
    
			text-align:justify;
			align-items: center;
    
			align-content:stretch;
    
			justify-content: space-around;

			font-family: Bookman Old Style;
			color:#B22222;
		}

.flex-containerOrder11 {
    
			display: -webkit-flex;
    
			display: flex;
    
			width: 100%;
    
			height:500px;
    
			background-color: #DC143C;
    
			flex-direction: column;
    
			text-align:justify;
			align-items: center;
    
			align-content:stretch;
    
			justify-content: space-around;

			font-family: Bookman Old Style;
			color:#B22222;
		}

.flex-containerOrder22 {
    
			display: -webkit-flex;
    
			display: flex;
    
			width: 100%;
    
			height:200px;
    
			background-color: #DC143C;
    
			flex-direction: column;
    
			text-align:justify;
			align-items: center;
    
			align-content:stretch;
    
			justify-content: space-around;

			font-family: Bookman Old Style;
			color:#B22222;
		}

.flex-itemOrder1 	{
    
			background-color: #DC143C;
    
			width: 95%;
    
			height:100px;
    
			margin:10px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-itemOrder2 	{
    
			background-color: #DC143C;
    
			width: 95%;
    
			height:100px;
    
			margin:10px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-itemOrder3 	{
    
			background-color: #DC143C;
    
			width: 95%;
    
			height:100px;
    
			margin:10px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.AudioVideo 
		{
			border: top left bottom right;
     			margin: 15px 15px 15px 15px;
     			border-color: red blue blue red;
			border-width: 10px 15px;
     			border-style: ridge;
     			padding: 15px 15px;
     			background: lightblue;
			font-family: Verdana;
			font-size:12pt;
			text-align:justify;
			color:blue;
		}

.flex-containerMultimedia {
    
			display: -webkit-flex;
    
			display: flex;
    
			width: 100%;
    
			height:750px;
    
			background-color: #DC143C;
    
			flex-direction: column;
    
			text-align:justify;
			align-items: center;
    
			align-content:stretch;
    
			justify-content: space-around;

			font-family: Bookman Old Style;
			color:#B22222;
		}

.flex-itemMultimedia 	{
    
			background-color: #DC143C;
    
			width: 95%;
    
			height:100px;
    
			margin:10px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.parentjobbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  background-color: #FA8072;
  color: #000080;
  font-family: 'Bookman Old Style', 'Times New Roman','Arial','Book Antiqua';
  font-size: 80%;
  font-style:normal;
  font-weight:400;
 
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
   flex-direction: column;  
}

.jobbox3{
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1;

}

.article1 p:first-of-type::first-letter {
      						color:blue;
      						font-size: 2em;
      						margin: -.25em .05em 0 0; 
					}

article p	{
      			color:#B22222;
      			font-size: 1em;
      			line-height: 1.5;
      			margin: .875em 2em;
		}

article p:first-of-type::first-line	{
      						color: #F0E68C;
      						font-size: 1.25em;
					}

p:nth-child(2)	{
    			background: white;
		}

li	{ 
		font-size: 1em;
     		margin: .25em; 
	}

li:first-child 	{ 
			color: #FF00FF; 
		}

li:nth-of-type(3)	{ 
				color: green; 
				font-weight:bold 
			}
	
li:last-of-type	{ 
			border-bottom: 4px  solid #00FF00; 
		}

li:last-child	{ 
			font-size:2.0em; 
			color: #6A5ACD; 
		}


@media only screen and (min-width: 320px) {
  p {
     background-color: #F5DEB3;
     color:blue; 
     font-size: 8pt;
     }}

@media only screen and (min-width: 480px) {
  p {
     background-color: #F5DEB3;
     color:blue;
     font-size: 10pt;
     }}

@media only screen and (min-width: 600px) and (max-width: 767px){
  p {
     background-color: #F5DEB3;
     color:blue;
     font-size: 14pt;
     }}

@media only screen and (min-width: 768px) {
  p {
     background-color:#8B0000;
     color: blue;
     font-size: 16pt;
     }}

@media print{
       a:link:after, a:visited:after {content:" (" attr(href) ") ";font-size:0.8em; font-style:normal;}
       p, body {  font-family: "Times New Roman", Times, serif;
       background-color:white;}}