a:link {font-weight:bolder; color:red; text-decoration:none}
a:visited {font-weight:bolder; color:red; text-decoration: none}
a:hover {font-weight:bolder; color:white; text-decoration:none; background-color: black;}

body{
    background-image: url("island.jpg");
    background-size: 8000px 4000px;
    background-repeat: no-repeat;
    font-family: Verdana, Arial, Calibri, Gabriola;
}

footer{
    text-align: center;
    color: white;
}

#main{
    margin: 20px 30px 20px 20px;
    border-color: red blue blue red;
    border-style:solid;
    border-width: 5px;

}

nav li {
    display: inline;
    border-color: yellow ;
    border-style: solid;
    border-width: 3px;
    background-color: green;
}

.tabs{
    padding: 20px;
    text-align: Center;
    word-spacing: 5em;
    font-size: 15px;
    font-family: cursive;
}

#items{
    margin: 70px 70px 70px 70px;
    border-color: green darkgreen darkgreen green;
    border-style:solid;
    border-width: 5px;
    padding: 15px 25px;
    background-size: cover;
    background-image: url("items.jpg");
    background-repeat: no-repeat;
    font-family: Verdana;
}

#itemsHeaders{
    font-family: "Bodoni MT Black";
    border-color: skyblue;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    background-color: #bfbfbf;
    position: absolute;
    padding: 5px;
    left: 5%;
    top: 8%;
}
#itemsHeaders1{
    color: yellow;
}

#itemsHeaders2{
    color: blue;
}


#island {
    margin: 50px 200px 50px 200px;
    border-color: red;
    border-style: solid;
    border-width: 5px;
    padding: 25px 25px;
    background-image: url("hover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat;
}

#reason{
    border-color: blue;
    border-style: solid;
    border-width: 4px;
    font-style: italic;
    font-size: large;
    font-family: Arial;
    color:yellow;
    padding: 15px;
}
#knife{
    width: 500px;
    height: 250px;
    padding: 25px;
    border: 4px solid navy;
    margin: 25px;
    position:relative;
    left: 50%;
}
#knifeDes{
    font-family: Constantia;
    width: 200px;
    height: 200px;
    float:left;
    color: white;
}

#knifeImg{
    position: relative;
    width: 200px;
    height: 200px;
    border: solid;
    border-color: white;
    float: right;
}

#rope{
    margin: 0 auto;
    width: 500px;
    height: 250px;
    padding: 25px;
    border: 4px dotted navy;
}
#ropeDes{
    font-family: Candara;
    font-style: oblique;
    width: 200px;
    height: 200px;
    float:right;
    color: blue;
}

#ropeImg{
    width: 200px;
    height: 200px;
    border: solid;
    float: left;
}


#lighter{
    width: 500px;
    height: 250px;
    padding: 25px;
    border: 4px solid navy;
    margin: 25px;
}

#lighterDes{
    font-family: "Bernard MT Condensed";
    font-style: oblique;
    width: 200px;
    height: 200px;
    float:left;
    color: darkred;
}

#lighterImg{
    width: 200px;
    height: 200px;
    border: solid;
    float: right;

}

#islandHeading{
    text-align: center;
    color: yellow;
}