body {background-color:#601B4A;color:red}

h1 {text-align: center; background-color: #C03552; 
   color:red; font-family: Cambria;
   font-weight: 10; font-style: bold; 
   font-size: xx-large;word-spacing: 0.2em}

.FavoriteMovie {text-align:justify;font-size:16px;background-color: white;
	             color:magenta;font-family: Bookman Old Style;font-style:bold}

.FavoriteFruits {text-align:justify;font-size:16px;background-color: grey;
                 color:white;font-family: Verdana;font-style:bold}

.FavoriteFood {text-align:justify;font-size:16px;background-color: white;
	             color:darkblue;font-family: Verdana;font-style:bold}

.FavoriteSport {text-align:justify;font-size:16px;background-color: grey;
                 color:white;font-family: Verdana;font-style:bold}