body {background-color:lightyellow}

h1 {text-align: center; background-color: tan; 
   color:blue; font-family: Cambria;
   font-weight: 10; font-style: bold; 
   font-size: xx-large;word-spacing: 0.2em}

.FavoriteVegetables {text-align:justify;font-size:16px;background-color: white;
	             color:darkblue;font-family: Verdana;font-style:bold}

.FavoriteFruits {text-align:justify;font-size:16px;background-color: grey;
                 color:white;font-family: Verdana;font-style:bold}

.FavoriteFood {text-align:justify;font-size:16px;background-color: white;
	             color:darkblue;font-family: Verdana;font-style:bold}

.FavoriteSport {text-align:justify;font-size:16px;background-color: grey;
                 color:white;font-family: Verdana;font-style:bold}