body {background-color:lightyellow}

h1 	{
		text-align: center; background-color: tan; 
   		color:blue; font-family: Poor Richard, Ishkoola Potha;
   		font-weight: 10; font-style: bold; 
   		font-size: xx-large;word-spacing: 0.4em
	}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}