body {background-color:#D8BFD8}

h1 {text-align: center; background-color: tan; 
   color:blue; font-family: Poor Richard, Ishkoola Potha;
   font-weight: 10; font-style: bold; 
   font-size: xx-large;word-spacing: 0.4em}

h2 {text-align: left; background-color: white; 
   color:blue; font-family: Bookman Old Style;
   font-weight: 10; font-size: large; word-spacing: 0.1em}

h3 {text-align: center; background-color: tan; 
   color:blue; font-family: Bookman Old Style;
   font-weight: 10; font-size: x-large; word-spacing: 0.1em}

.FavoriteVegetables {text-align:justify;font-size:16px;background-color: white;
	             color:darkblue;font-family: Verdana;font-style:bold}

.FavoriteFruits {text-align:justify;font-size:16px;background-color: grey;
                 color:white;font-family: Verdana;font-style:bold}

.FavoriteFood {text-align:justify;font-size:16px;background-color: white;
	             color:darkblue;font-family: Verdana;font-style:bold}

.FavoriteSport {text-align:justify;font-size:16px;background-color: grey;
                 color:white;font-family: Verdana;font-style:bold}


.flex-container {
    
			display: -webkit-flex;
    
			display: flex;
    
			width: 98%;
    
			height:2000px;
    
			background-color: #DC143C;
    
			flex-direction: column;
    
			text-align:justify;
			align-items: center;
    
			align-content:stretch;
    
			justify-content: space-around;

			font-family: Bookman Old Style;
			color:#B22222;
		}


.flex-item1 	{
    
			background-color: #A9A9A9;
    
			width: 85%;
    
			height:50px;
    
			margin:20px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-item2 	{
    
			background-color: #A9A9A9;
    
			width: 850px;
    
			height:500px;
    
			margin:20px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

.flex-item3 	{
    
			background-color: #A9A9A9;
    
			width: 850px;
    
			height:300px;
    
			margin:20px;
   
			flex-grow:1;

			font-family: Bookman Old Style;
			color:#00008B;
		}

p.Box1	{
			background-color:#F0E68C;
     			color: #FF6347;
			font-weight: bold;
			font-family: Castellar;
  			font: "Castellar", Arial, Helvetica,sans-serif;
  			letter-spacing: .2em;
  			margin: 0 0px 0 0px;
  			padding: 1.5em 0 .2em 2em;
			border-top: 2px solid black;
  			border-bottom: 2px solid black;
			border-left: 2px solid black;
  			border-right: 2px solid black;
  			font-size:1.25em;
			-webkit-transition-property: background;
			-webkit-transition-duration: 0.5s;
			-webkit-transition-timing-function: ease;
			-webkit-transition-delay: 0.5s;
		}

p.Box1:hover 	{
			background: blue;
			color: black;
		}

#MainBox	{
			padding: 19px;
    			font-size: 18px;
			line-height: 200%;
		}


div 	{
   	 	width: 300px;
    		height: 50px;
		font-family: Bookman Old Style;
		color: blue;
    		background-color:  tomato;
    		font-weight: bold;
    		position: relative;
    		-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    		animation: mymove 5s infinite;
	}

/* Chrome, Safari, Opera, firefox */
#div1 {-webkit-animation-timing-function: linear;}
#div2 {-webkit-animation-timing-function: ease;}
#div3 {-webkit-animation-timing-function: ease-in;}
#div4 {-webkit-animation-timing-function: ease-out;}
#div5 {-webkit-animation-timing-function: ease-in-out;}


/* Standard syntax */
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

/* Chrome, Safari, Opera, firefox */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

#sushi	{
				
		margin-top: 50px;
		float: left;
		position: relative;
				
	}

span 	{
		width: 700px;
		height: 80px;
		background: #556B2F;
		float: left;
		margin: 0 10px 10px 0;
		text-align: center;
		padding-top: 30px;
		font-family: Bookman Old Style;
		color: blue;
	}


span:hover	{
			-webkit-transform: scale(1.25);
			background: #4169E1;
			color: #fff;
					
		}
